.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main2 {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  @apply shadow-xl
  ml-24
  p-5
  rounded-md
  border-solid
  text-center
  w-1/4
}

.player {
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #245cd8;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
}

.livepeerLogo {
margin-right: 50rem;
padding: 1rem;
border: solid 1px;
width: 13rem;
border-radius: 5px;
}

.title {
  @apply my-10
  leading-5
  text-5xl
  font-sans
  text-blue-500;
}


.link {
  text-align: center;
}

.link a {
  color: #44d8a7;
  text-decoration: none;
  margin-right: 3rem;
}

.link a:hover,
.link a:focus,
.link a:active {
  text-decoration: underline;
}

.drop {
  border: 2px dotted #245cd8;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin: 1rem 0.25rem;
  align-items: center;
}

.drop:hover {
  cursor: pointer;
}

.progress {
  text-align: center;
  margin: 1rem 0;
  color: #245cd8;
}

.progress p {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  marign: 10rem;
}

.label {
  margin-right: 16rem;
}

.formInput {
  height: 2rem;
  border-radius: 5px;
  margin: 20px;
}

.buttonBox {
  margin-left: 3.5rem;
}

.button {
  margin: 1rem;
  padding: 10px;
  background: #0070f3;
  border-radius: 5px;
  border: none;
}

.connect {
  padding: 0.5rem 1rem;
  margin: 1rem 3rem 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
}

.walletButton {
  margin-top: 2rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.buttonConnect {
  padding: 0.5rem 1rem;
  background: #44d8a7;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-overflow: clip;
  margin-left: 2.5rem;
}

.link {
  color: #245cd8;
}

.link :hover {
  color: #245cd8;
  text-decoration: underline;
}

.icon {
  margin: 1rem;
  display: flex;
  justify-content: start;
}

.icon p {
margin-left: 3px;
color: #245cd8;
}

.discord{
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
